* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

img{
    width: 100px;
}

h1 {
    margin: 20px;
    border-bottom: 1px solid black;
}

label {
    display: block;
    padding: 5px 0;
}

input[type="button"] {
    margin: 20px;
    padding: 5px;
    width: 12.7em;
    border-radius: 8px;
    height: 50px;
    border: none;
}